
.logo {
   height: 3.25rem;
   margin-left: 2rem;
}

.pesquisa {
   flex: 0 0 40%;

   display: flex;
   align-items: center;
   justify-content: center;

   &__entrada {
      font-family: inherit;
      font-size: inherit;
      color: inherit;
      background-color: var(--cor-cinza-claro-2);
      border: none;
      padding: .7rem 2rem;
      border-radius: 100px;
      width: 90%;
      transition: all .2s;
      margin-right: -3.25rem;
      
      &:focus {
         outline: none;
         width: 100%;
         background-color: var(--cor-cinza-claro-3);
      }

      &::-webkit-input-placeholder {
         font-weight: 100;
         color: var(--cor-cinza-claro-4);
      }
   }

   &__entrada:focus + &__botao {
      background-color: var(--cor-cinza-claro-3);
   }

   &__botao {
      border: none;
      background-color: var(--cor-cinza-claro-2);
      
      &:focus {
         outline: none;
      }
      
      &:active {
         transform: translateY(2px);
      }
   }
   &__icone {
      height: 2rem;
      width: 2rem;
      fill: var(--cor-cinza-escuro-3);
   }
}

.usuario-nav {
   align-self: stretch;

   display: flex;
   align-items: center;

   & > * {
      padding: 0 2rem;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
   }
   
   & > *:hover {
      background-color: var(--cor-cinza-claro-2);
   }

   &__icone-caixa {
      position: relative;

   }

   &__icone {
      height: 2.25rem;
      width: 2.25rem;
      fill: var(--cor-cinza-escuro-2);
   }

   &__notificacao {
      font-size: .8rem;
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      background-color: var(--cor-primaria);
      color: #fff;
      position: absolute;
      top: 1.5rem;
      right: 1.1rem;

      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__usuario {
   
   }

   &__usuario-foto {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem;
   }

   &__usuario-nome {
   
   }
}

// navegação lateral
.lado-nav {
   font-size: 1.4rem;
   list-style: none;
   margin-top: 3.5rem;

   &__item {
   
   }
   
   &__link:link, &__link:visited {
      color: var(--cor-cinza-claro-1);
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      padding: 1.5rem 3rem;
   }
   
   &__link:hover {
      color: lightgreen;
   }

   &__icone {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: 2rem;
      fill: currentColor;
   }
      

}

.legal {
   font-size: 1.2rem;
   color: var(--cor-cinza-claro-4);
   text-align: center;
   padding: 2.5rem;
}






































