
.logo {
   height: 3.25rem;
}

.pesquisa {
   background-color: orangered;
   &__entrada {
   
   }
   &__botao {
   
   }
   &__icone {
      height: 2rem;
      width: 2rem;
   }
}

.usuario-nav {
   background-color: yellowgreen;
   &__icone-caixa {
   
   }
   &__icone {
      height: 2.25rem;
      width: 2.25rem;
   }
   &__notificacao {
   
   }
   &__usuario {
   
   }
   &__usuario-foto {
      height: 3.75rem;
      border-radius: 50%;
   }
   &__usuario-nome {
   
   }
}







































