.container {
   max-width: 120rem;
   margin: 8rem auto;
   background-color: var(--cor-cinza-claro-1);
   box-shadow: var(--sombra-escura);
   
   min-height: 50rem;
   
   @media only screen and (max-width: $bp-largest) {
      margin: 0;
      max-width: 100%;
      width: 100%;
   }
   
   
}

.cabecalho {
   font-size: 1.4rem;
   height: 7rem;
   background-color: #fff;
   border-bottom: var(--linha);

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.conteudo {
   display: flex;
}

.barralado {
   background-color: var(--cor-cinza-escuro-1);

   flex: 0 0 18%;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.vista-hotel {
    background-color: #fff;

    
    flex: 1;
    
}

.detalhe {
   font-size: 1.4rem;
   display: flex;
   padding: 4.5rem;
   background-color: var(--cor-cinza-claro-1);
   border-bottom: var(--linha);
}

.descricao {
   background-color: #fff;
   box-shadow: var(--sombra-clara);
   padding: 3rem;
   flex: 0 0 60%;
   margin-right: 4.5rem;
}

.usuarios-reviews {
   /* background-color: yellowgreen; */
   flex: 1;
   
   display: flex;
   flex-direction: column;
   align-items: center;
}

















 
 
 
 
 
