.container {
   max-width: 120rem;
   margin: 8rem auto;
   background-color: var(--cor-cinza-claro-2);
   box-shadow: var(--sombra-escura);
   
   min-height: 50rem;
}

.cabecalho {

}

.conteudo {

}

.barralado {

}

.vista-hotel {

}
 
 
 