
@mixin clearfix {
    &::after {
       content: "";
       display: table;
       clear: both;
    }
}

@mixin centroAbsoluto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Gerenciador de media query
/* 0 - 600px: Phone
600 - 900px: Tablet Potrait
900 - 1200px: Tablet Landscape
[1200 - 1800] é onde nosso estilos normais aplicam
1800px ++ : Big Desktop */



/* $breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px

600/16 = 37.5  e assim por diante
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content };
    }  
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content };
    }  
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content };
    }  
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content };
    }  
}




