$cor-primaria: #55c57a;
$cor-primaria-clara: #7ed56f;
$cor-primaria-escura: #28b485;
$cor-secundaria-clara: #ffb900;
$cor-secundaria-escura: #ff7730;
$cor-terciaria-clara: #2998ff;
$cor-terciaria-escura: #5643f1;


$cor-cinza-clara-1: #f7f7f7;
$cor-cinza-clara-2: #eee;
$cor-cinza-escura: #777;
$cor-branca: #fff;
$cor-preta: #000;

// font
$font-size-padrao: 1.6rem;


// grid
$grid-largura: 114rem;
$espaco-vertical: 2rem;
$espaco-horizontal: 6rem;




