/*
COLORS

primario: #eb2f64
primario claro: #FF3366
primario dark: #BA265D

cinza claro 1: #faf9f9
cinza claro 2: #f4f2f2
cinza claro 3: #f0eeee
cinza claro 4: #ccc

cinza escuro 1: #333
cinza escuro 2: #777
cinza escuro 3: #999

*/
:root {
  --cor-primaria: #eb2f64;
  --cor-primaria-clara: #FF3366;
  --cor-primaria-escura: #BA265D;
  --cor-cinza-claro-1: #faf9f9;
  --cor-cinza-claro-2: #f4f2f2;
  --cor-cinza-claro-3: #f0eeee;
  --cor-cinza-claro-4: #ccc;
  --cor-cinza-escuro-1: #333;
  --cor-cinza-escuro-2: #777;
  --cor-cinza-escuro-3: #999;
  --sombra-escura: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--cor-cinza-escuro-2);
  background-image: linear-gradient(to right bottom, var(--cor-primaria-clara), var(--cor-primaria-escura));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.pesquisa {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .pesquisa__entrada {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--cor-cinza-claro-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .pesquisa__entrada:focus {
      outline: none;
      width: 100%;
      background-color: var(--cor-cinza-claro-3); }
    .pesquisa__entrada::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--cor-cinza-claro-4); }
  .pesquisa__entrada:focus + .pesquisa__botao {
    background-color: var(--cor-cinza-claro-3); }
  .pesquisa__botao {
    border: none;
    background-color: var(--cor-cinza-claro-2); }
    .pesquisa__botao:focus {
      outline: none; }
    .pesquisa__botao:active {
      transform: translateY(2px); }
  .pesquisa__icone {
    height: 2rem;
    width: 2rem;
    fill: var(--cor-cinza-escuro-3); }

.usuario-nav {
  align-self: stretch;
  display: flex;
  align-items: center; }
  .usuario-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .usuario-nav > *:hover {
    background-color: var(--cor-cinza-claro-2); }
  .usuario-nav__icone-caixa {
    position: relative; }
  .usuario-nav__icone {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--cor-cinza-escuro-2); }
  .usuario-nav__notificacao {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--cor-primaria);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .usuario-nav__usuario-foto {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.lado-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .lado-nav__item {
    position: relative; }
    .lado-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .lado-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--cor-primaria);
    transform: scaleY(0);
    transition: transform 0.1s, width 0.4s cubic-bezier(1, 0.09, 0, 1.01) 0.2s, background-color 0.1s; }
  .lado-nav__item:hover::before, .lado-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .lado-nav__item:active::before {
    background-color: var(--cor-primaria-clara); }
  .lado-nav__link:link, .lado-nav__link:visited {
    color: var(--cor-cinza-claro-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .lado-nav__icone {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  color: var(--cor-cinza-claro-4);
  text-align: center;
  padding: 2.5rem; }

.galeria {
  display: flex; }
  .galeria__foto {
    width: 100%;
    display: block; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--cor-cinza-claro-1);
  box-shadow: var(--sombra-escura);
  min-height: 50rem; }

.cabecalho {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--cor-cinza-escuro-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.conteudo {
  display: flex; }

.barralado {
  background-color: var(--cor-cinza-escuro-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.vista-hotel {
  background-color: #fff;
  height: 80rem;
  flex: 1; }
