/*
COLORS

primario: #eb2f64
primario claro: #FF3366
primario dark: #BA265D

cinza claro 1: #faf9f9
cinza claro 2: #f4f2f2
cinza claro 3: #f0eeee
cinza claro 4: #ccc

cinza escuro 1: #333
cinza escuro 2: #777
cinza escuro 3: #999

*/
:root {
  --cor-primaria: #eb2f64;
  --cor-primaria-clara: #FF3366;
  --cor-primaria-escura: #BA265D;
  --cor-cinza-claro-1: #faf9f9;
  --cor-cinza-claro-2: #f4f2f2;
  --cor-cinza-claro-3: #f0eeee;
  --cor-cinza-claro-4: #ccc;
  --cor-cinza-escuro-1: #333;
  --cor-cinza-escuro-2: #777;
  --cor-cinza-escuro-3: #999;
  --sombra-escura: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--cor-cinza-escuro-2);
  background-image: linear-gradient(to right bottom, var(--cor-primaria-clara), var(--cor-primaria-escura));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; }

.logo {
  height: 3.25rem; }

.pesquisa {
  background-color: orangered; }
  .pesquisa__icone {
    height: 2rem;
    width: 2rem; }

.usuario-nav {
  background-color: yellowgreen; }
  .usuario-nav__icone {
    height: 2.25rem;
    width: 2.25rem; }
  .usuario-nav__usuario-foto {
    height: 3.75rem;
    border-radius: 50%; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--cor-cinza-claro-1);
  box-shadow: var(--sombra-escura);
  min-height: 50rem; }

.cabecalho {
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--cor-cinza-escuro-2);
  display: flex;
  justify-content: space-between;
  align-items: center; }

.conteudo {
  display: flex; }

.barralado {
  background-color: var(--cor-cinza-escuro-1);
  flex: 0 0 18%; }

.vista-hotel {
  background-color: orangered;
  flex: 1; }
