/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../font/Lato/Lato-Regular.ttf');
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.cabecalho {
    height: 95vh;
    background-image: linear-gradient(to right bottom,#7ed56fcb, #28b485cb), url('../img/hero.jpg'); /* opacidade 80%, pois uma imagem fica na frente da outra */
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}
 
 
.logo {
    height: 35px;
}

.cabecalho-primario {
    color: #fff;
    text-transform: uppercase;
}

.cabecalho-primario-principal {

}

.cabecalho-primario-sub {

}


















