/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../font/Lato/Lato-Regular.ttf');
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.cabecalho {
    height: 95vh;
    background-image: linear-gradient(to right bottom,#7ed56fcb, #28b485cb), url('../img/hero.jpg'); /* opacidade 80%, pois uma imagem fica na frente da outra */
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}
 
 
.logo {
    height: 35px;
}

.logo:hover {  /* tirar depois */
    animation: moverParaEsquerda 1s ease-out;
}

.cabecalho-primario {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
}

.cabecalho-primario-principal {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;

    animation-name: moverParaDireita;
    animation-duration: 1s;
    /* animation-delay: 1.5s; 
     animation-iteration-count: 3;  vezes */

    animation-timing-function: ease-in-out;
    
}

.cabecalho-primario-sub {
    display: block; 
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation: moverParaEsquerda 1s ease-out; /* name duration timing-function delay iteration-count direction fill-mode */
}

.caixa-texto {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes moverParaDireita {
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }

    80% {
       transform: translateX(10px);
    }

    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

@keyframes moverParaEsquerda {
    0% {
       opacity: 0;
       transform: translateX(100px);
    }
    
    80% {
       transform: translateX(-10px);
    }

    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

.botao:link, .botao:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
 
}

.botao-branco {
    background-color: white;
    color: #777;

}











