@charset "UTF-8";
/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/* @import '../abstracts/variaveis'; */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* @font-face {
    font-family: 'Lato', sans-serif;
    src: url('../../font/Lato/Lato-Regular.ttf'); 
} */
html {
  font-size: 62.5%;
  /* 1 rem = 10px */
  /* quando alterado muda tudo,  62.5% = 10/16 */ }

body {
  /* font-family: 'Lato', sans-serif;
    font-weight: 400;
    
    line-height: 1.7;
    color: $cor-cinza-escura;
    padding: 3rem; */
  box-sizing: border-box; }

@keyframes moverParaDireita {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moverParaEsquerda {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moverDoFundo {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@font-face {
  font-family: 'Lato', sans-serif;
  src: url("../../font/Lato/Lato-Regular.ttf");
  /* ../font/Lato/Lato-Regular.ttf */ }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.cabecalho-primario {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .cabecalho-primario--principal {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moverParaDireita;
    animation-duration: 1s;
    /* animation-delay: 1.5s; 
         animation-iteration-count: 3;  vezes */
    animation-timing-function: ease-in-out; }
  .cabecalho-primario--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moverParaEsquerda 1s ease-out;
    /* name duration timing-function delay iteration-count direction fill-mode */ }

.cabecalho-secundario {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .cabecalho-secundario:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.cabecalho-terciario {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragrafo {
  font-size: 1.6rem; }
  .paragrafo:not(:last-child) {
    margin-bottom: 3rem; }

.u-texto-centralizado {
  text-align: center; }

.u-margin-bottom-grande {
  margin-bottom: 8rem; }

.u-margin-bottom-medio {
  margin-bottom: 4rem; }

.u-margin-bottom-pequeno {
  margin-bottom: 1.5rem; }

.u-margin-top-grande {
  margin-top: 8rem; }

.u-margin-top-enorme {
  margin-top: 10rem; }

.secao-sobre {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.secao-destaques {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/nat-4.jpg");
  /* opacidade 80%, pois uma imagem fica na frente da outra */
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .secao-destaques > * {
    transform: skewY(7deg); }

.secao-viagens {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }

.secao-depoimentos {
  padding: 15rem 0;
  background-color: #f7f7f7; }

.botao:link, .botao:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .5s;
  position: relative;
  font-size: 1.6rem; }

.botao--branco {
  background-color: #fff;
  color: #777; }
  .botao--branco::after {
    background-color: #fff; }

.botao--verde {
  background-color: #55c57a;
  color: #fff; }
  .botao--verde::after {
    background-color: #55c57a; }

.botao:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); }
  .botao:hover::after {
    transform: scaleX(1.4) scaleY(1.2);
    opacity: 0; }

.botao:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); }

.botao::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.botao--animado {
  animation: moverDoFundo 1s ease-out 0.75s;
  animation-fill-mode: backwards; }

.botao-texto:link, .botao-texto:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  transition: all .2s;
  padding: 3px; }

.botao-texto:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.botao-texto:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composicao {
  position: relative; }
  .composicao__foto {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composicao__foto--r1 {
      left: 0;
      top: -2rem; }
    .composicao__foto--r2 {
      right: 0;
      top: 2rem; }
    .composicao__foto--r3 {
      left: 20%;
      top: 10rem; }
    .composicao__foto:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composicao:hover .composicao__foto:not(:hover) {
    transform: scale(0.9); }

.caixa-destaque {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .4s; }
  .caixa-destaque__icone {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .caixa-destaque:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.cartao {
  perspective: 150rem;
  /* experimentar valores pequenos */
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .cartao__lado {
    /* color: #fff;
        font-size: 2rem; */
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .cartao__lado--frente {
      background-color: #fff; }
    .cartao__lado--atras {
      background-color: green;
      transform: rotateY(180deg); }
      .cartao__lado--atras-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .cartao__lado--atras-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .cartao__lado--atras-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643f1); }
  .cartao:hover .cartao__lado--frente {
    transform: rotateY(180deg); }
  .cartao:hover .cartao__lado--atras {
    transform: rotateY(360deg); }
  .cartao__imagem {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .cartao__imagem--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg"); }
    .cartao__imagem--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-6.jpg"); }
    .cartao__imagem--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643f1), url("../img/nat-7.jpg"); }
  .cartao__cabecalho {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .cartao__cabecalho-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    /* faz funcionar */
    box-decoration-break: clone; }
    .cartao__cabecalho-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .cartao__cabecalho-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .cartao__cabecalho-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 241, 0.85)); }
  .cartao__detalhes {
    padding: 3rem; }
    .cartao__detalhes ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .cartao__detalhes ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .cartao__detalhes ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .cartao__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .cartao__preco-caixa {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem; }
  .cartao__preco-somente {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .cartao__preco-valor {
    font-size: 6rem;
    font-weight: 100; }

.depoimento {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  /* & > * {
        transform: skewX(12deg);
    } */ }
  .depoimento__forma {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    /* só funciona junto com width, height, float */
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .depoimento__imagem {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .depoimento__texto {
    transform: skewX(12deg); }
  .depoimento__legenda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .depoimento:hover .depoimento__legenda {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .depoimento:hover .depoimento__imagem {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.cabecalho {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  /* opacidade 80%, pois uma imagem fica na frente da outra */
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .cabecalho__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .cabecalho__logo {
    height: 3.5rem; }
  .cabecalho__logo:hover {
    /* tirar depois */
    animation: moverParaEsquerda 1s ease-out; }
  .cabecalho__caixa-texto {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.linha {
  max-width: 114rem;
  /* background-color: rgb(221, 215, 220); */
  margin: 0 auto;
  margin-top: 10px; }
  .linha:not(:last-child) {
    margin-bottom: 2rem; }
  .linha [class^="col-"] {
    /* background-color: orangered; */
    float: left; }
    .linha [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .linha::after {
    content: "";
    display: table;
    clear: both; }
  .linha .col-1-de-2 {
    width: calc((100% - 6rem) / 2); }
  .linha .col-1-de-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .linha .col-2-de-3 {
    width: calc(2*((100% - 2 * 6rem) / 3) +  6rem); }
  .linha .col-1-de-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .linha .col-2-de-4 {
    width: calc(2*((100% - 3 * 6rem) / 4) + 6rem); }
  .linha .col-3-de-4 {
    width: calc(3*((100% - 3 * 6rem) / 4) + 2*6rem); }
