

.cabecalho {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($cor-primaria-clara, 0.8), rgba($cor-primaria-escura, 0.8)), url('../img/hero-small.jpg'); /* opacidade 80%, pois uma imagem fica na frente da outra */
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    position: relative;

    @media (min-resolution: 192dpi) and (min-width: 600px) {
        background-image: linear-gradient(to right bottom, rgba($cor-secundaria-clara, 0.8), rgba($cor-secundaria-escura, 0.8)), url('../img/hero.jpg');
    
    }    


    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); 
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); 
    }

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__logo:hover {  /* tirar depois */
        animation: moverParaEsquerda 1s ease-out;
    }

    &__caixa-texto {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}