.linha {
    max-width: $grid-largura;
    background-color: rgb(221, 215, 220);
    margin: 0 auto;
    margin-top: 10px;
    
    &:not(:last-child) {
        margin-bottom: $espaco-vertical;
        
    }

    // class^="?" -> atributo class que inicia com valor de ?
    // class*="?" -> atributo class que contem com valor de ?
    // class$="?" -> atributo class que termina com valor de ?
    [class^="col-"] {
        background-color: orangered;
        float: left;
            
        &:not(:last-child) {
            margin-right: $espaco-horizontal;
        }
    
    }

    @include clearfix;
    
    .col-1-de-2 {
        width: calc((100% - #{$espaco-horizontal}) / 2);
    }

    .col-1-de-3 {
        width: calc((100% - 2 * #{$espaco-horizontal}) / 3);
    }

    .col-2-de-3 {
        width: calc(2*((100% - 2 * #{$espaco-horizontal}) / 3) +  #{$espaco-horizontal});
    }

    .col-1-de-4 {
        width: calc((100% - 3 * #{$espaco-horizontal}) / 4);
    }
    
}

//.linha:not()  ->  linha não  
// &:not(:last-child) -> seleciona-se tudo, exceto o último descendente
// .linha::after {

