.linha {
    max-width: $grid-largura;
    /* background-color: rgb(221, 215, 220); */
    margin: 0 auto;
    margin-top: 10px;
    
    &:not(:last-child) {
        margin-bottom: $espaco-vertical;
        
        @include respond(tab-port) {
            margin-bottom: $espaco-vertical-pequeno;
        }

        
    }

    @include clearfix;

    // class^="?" -> atributo class que inicia com valor de ?
    // class*="?" -> atributo class que contem com valor de ?
    // class$="?" -> atributo class que termina com valor de ?
    [class^="col-"] {
        /* background-color: orangered; */
        float: left;
            
        &:not(:last-child) {
            margin-right: $espaco-horizontal;

            @include respond(tab-port) {
                margin-right: 0;
                margin-bottom: $espaco-vertical-pequeno;
            }
        }

        @include respond(tab-port) {
            width: 100% !important;
        }
    
    }

    .col-1-de-2 {
        width: calc((100% - #{$espaco-horizontal}) / 2);
    }

    .col-1-de-3 {
        width: calc((100% - 2 * #{$espaco-horizontal}) / 3);
    }

    .col-2-de-3 {
        width: calc(2*((100% - 2 * #{$espaco-horizontal}) / 3) +  #{$espaco-horizontal});
    }

    .col-1-de-4 {
        width: calc((100% - 3 * #{$espaco-horizontal}) / 4);
    }
    
    .col-2-de-4 {
        width: calc(2*((100% - 3 * #{$espaco-horizontal}) / 4) + #{$espaco-horizontal});
    }
    
    .col-3-de-4 {
        width: calc(3*((100% - 3 * #{$espaco-horizontal}) / 4) + 2*#{$espaco-horizontal});
    }
}

//.linha:not()  ->  linha não  
// &:not(:last-child) -> seleciona-se tudo, exceto o último descendente
// .linha::after {

