.linha {
    max-width: $grid-largura;
    background-color: rgb(221, 215, 220);
    margin: 0 auto;
    margin-top: 10px;
    
    &:not(:last-child) {
        margin-bottom: $espaco-vertical;
        
    }
    
    .col-1-de-2 {
        width: calc((100% - #{$espaco-horizontal}) / 2);
        background-color: orangered;
        
        &:not(:last-child) {
           margin-right: $espaco-horizontal;
        }
    }
    
}

//.linha:not()  ->  linha não  
// &:not(:last-child) -> seleciona-se tudo, exceto o último descendente


