
.navegacao {

    &__checkbox {

    }

    &__botao {

    }

    &__fundo {
       height: 6rem;
       width: 6rem;
       border-radius: 50%;
    }

    &__nav {

    }

    &__lista {

    }

    &__item {

    }

    &__link {

    }

}







