
.navegacao {

    &__checkbox {

    }

    &__botao {
        background-color: $cor-branca;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 200;
    }

    &__fundo {
       height: 6rem;
       width: 6rem;
       border-radius: 50%;
       position: fixed;
       top: 6.5rem;
       right: 6.5rem;
       background-image: radial-gradient($cor-primaria-clara, $cor-primaria-escura);
       z-index: 100;
    }

    &__nav {

    }

    &__lista {

    }

    &__item {

    }

    &__link {

    }

}







