.rodape {
    background-color: $cor-cinza-escura3;
    padding: 10rem 0;
    font-size: 1.4rem;
 
    &__logo-caixa {
       text-align: center;
       margin-bottom: 8rem;
    }
 
    &__logo {
       width: 15rem;
       height: auto;
    }
 
 
    &__navegacao {
 
    }
 
 
    &__lista {
 
    }
 
 
    &__item {
 
    }
 
 
    &__link {
 
    }
}