.rodape {
    background-color: $cor-cinza-escura3;
    padding: 10rem 0;
    font-size: 1.4rem;
 
    &__logo-caixa {
 
    }
 
    &__logo {
 
    }
 
 
    &__navegacao {
 
    }
 
 
    &__lista {
 
    }
 
 
    &__item {
 
    }
 
 
    &__link {
 
    }
}