.cartao {
    // funcionalidade
    perspective: 150rem;  /* experimentar valores pequenos */
    -moz-perspective: 150rem;
    position: relative;
    height: 50rem;
    
    &__lado {
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($cor-preta, .15);
        

        &--frente {
            background-color: $cor-branca;
        }
        
        &--atras {
            background-color: green;
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $cor-secundaria-clara, $cor-secundaria-escura);
            }
        }
    }

    &:hover &__lado--frente {
       transform: rotateY(180deg);
    }

    &:hover &__lado--atras {
       transform: rotateY(360deg);
    }

    // estilo lado da frente, é em relação ao arquivo style2.css
    &__imagem {
        background-size: cover;
        height: 23rem;

        &--1 {
            background-image: linear-gradient(to right bottom, $cor-secundaria-clara, $cor-secundaria-escura), url('../img/nat-5.jpg');
        }

        &--2 {
            background-image: url('../img/nat-5.jpg');
        }

        &--3 {
            background-image: url('../img/nat-5.jpg');
        }

    }

}

// cartao:hover .cartao__lado {}



