.cartao {
    perspective: 150rem;  /* experimentar valores pequenos */
    -moz-perspective: 150rem;
    
    &__lado {
        background-color: orangered;
        color: #fff;
        font-size: 2rem;
        height: 50rem;
        transition: all .8s;

        &--frente {
           background-color: orangered;
        }
        
        &--atras {
            background-color: green;
        
        }
    }

    &:hover &__lado {
       transform: rotateY(180deg);
    }
}

// cartao:hover .cartao__lado {}



