.composicao {
    position: relative;

    &__foto {
       width: 55%;
       box-shadow: 0 1.5rem 4rem rgba($cor-preta, .4);
       border-radius: 2px;
       position: absolute;
       z-index: 10;
       transition: all .2s;
       outline-offset: 2rem;

       &--r1 { 
            left: 0;
            top: -2rem;
       }

       &--r2 { 
            right: 0;
            top: 2rem;
       }

       &--r3 { 
            left: 20%;
            top: 10rem;
       }

       &:hover {
            outline: 1.5rem solid $cor-primaria;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($cor-preta, .5);
            z-index: 20;
       }
             
    }

    &:hover &__foto:not(:hover) {
        transform: scale(.9);
    }
     // composicao:hover composicao__foto:not(:hover) {}
     
}