.composicao {
    position: relative;

    &__foto {
       width: 55%;
       box-shadow: 0 1.5rem 4rem rgba($cor-preta, .4);
       border-radius: 2px;
       position: absolute;

       &--r1 { 
            left: 0;
            top: -2rem;
       }

       &--r2 { 
            right: 0;
            top: 2rem;
       }

       &--r3 { 
            left: 20%;
            top: 10rem;
       }
             
    }


}