.depoimento {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($cor-preta, 0.1);
    background-color: $cor-branca;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $font-size-padrao;
    transform: skewX(-12deg);

    & > * {
        transform: skewX(12deg);
    }

    &__forma {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); /* só funciona junto com width, height, float */

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem);

    }

    &__imagem {
        height: 100%;
    }

    &__texto {

    }


}



