.formulario {
    &__grupo:not(:last-child) {
       margin-bottom: 2rem;
    }
 
    &__entrada {
       font-size: 1.5rem;
       font-family: inherit;
       color: inherit;
       padding: 1.5rem 2rem;
       border-radius: 2px;
       background-color: rgba($cor-branca, .5);
       border: none;
       border-bottom: 3px solid transparent;  
       width: 90%;
       display: block;
       transition: all .6s;

       &:focus {
           outline: none;
           box-shadow: 0 1rem 2rem rgba($cor-preta, .1);
           border-bottom: 3px solid $cor-primaria;
       }

       &:focus:invalid {
           border-bottom: 3px solid $cor-secundaria-escura;
       }

       &::-webkit-input-placeholder {
           color: $cor-cinza-escura2;
       }

    }

 
    &__rotulo {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .4s;
    }

    &__entrada:placeholder-shown + &__rotulo {  /* siblings, label deve vir depois de input */
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-grupo {
        width: 49%;
        display: inline-block;
    }

    &__radio-rotulo {
        font-size: $font-size-padrao;
        cursor: pointer;
    }

    &__radio-botao {
        height: 3rem;
        width: 3rem;
        border: 5px solid $cor-primaria;
        border-radius: 50%;
     
        &::after {
     
     
        }
     
     }


}