.formulario {
    &__grupo {
 
    }
 
    &__entrada {
       font-size: 1.5rem;
       padding: 1.5rem 2rem;
       border-radius: 2px;
       background-color: rgba($cor-branca, .5);
       border: none;
    }
 
    &__rotulo {
 
 
    }
}