
.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($cor-preta, .8);
    z-index: 8000;

    &__conteudo {
        @include centroAbsoluto;
        width: 75%;
        height: 50rem;
        background-color: $cor-branca;
        box-shadow: 0 2rem 4rem rgba($cor-preta, .2);
        
    }

}



