/* @import '../abstracts/variaveis'; */

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

/* @font-face {
    font-family: 'Lato', sans-serif;
    src: url('../../font/Lato/Lato-Regular.ttf'); 
} */

html {
    font-size: 62.5%;  /* 1 rem = 10px */ /* quando alterado muda tudo,  62.5% = 10/16 */
    
   /*  @include respond(phone) {
        font-size: 50%;
    } */

    @include respond(tab-port) {
        font-size: 50%;   // 1 rem = 8px, 8/16 = 50%
    }

    @include respond(tab-land) {
        font-size: 56.25%;   // 1 rem = 9px, 9/16 = 56.25%
    }

    @include respond(big-desktop) {
        font-size: 75%;     // 1 rem = 12px, 12/16 = 75%
    }

}

body {
    /* font-family: 'Lato', sans-serif;
    font-weight: 400;
    
    line-height: 1.7;
    color: $cor-cinza-escura;
    padding: 3rem; */
    box-sizing: border-box;    
}