@import '../abstracts/variaveis';

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../../font/Lato/Lato-Regular.ttf'); /* ../font/Lato/Lato-Regular.ttf */
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $cor-cinza-escura;
    padding: 3rem;
    
}

.cabecalho-primario {
    color: $cor-branca;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--principal {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moverParaDireita;
        animation-duration: 1s;
        /* animation-delay: 1.5s; 
         animation-iteration-count: 3;  vezes */
    
        animation-timing-function: ease-in-out;
    }
    
    &--sub {
        display: block; 
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
    
        animation: moverParaEsquerda 1s ease-out; /* name duration timing-function delay iteration-count direction fill-mode */
    }
}

.cabecalho-secundario {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $cor-primaria-clara, $cor-primaria-escura);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(10deg) scale(1.05);
        text-shadow: .5rem 1rem 2rem rgba($cor-preta, .2);

    }
}


