.u-texto-centralizado {
    text-align: center;
}

.u-margin-bottom-grande {
    margin-bottom: 8rem;
}

.u-margin-bottom-medio {
    margin-bottom: 4rem;
}


.u-margin-bottom-pequeno {
    margin-bottom: 1.5rem;
}

.u-margin-top-grande {
    margin-top: 8rem;
}








