.secao-sobre {
    background-color: $cor-cinza-clara-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.secao-destaques {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($cor-primaria-clara, 0.8), rgba($cor-primaria-escura, 0.8)), url('../img/nat-4.jpg'); /* opacidade 80%, pois uma imagem fica na frente da outra */
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    
    // .secao-destaques > *
    & > * {
        transform: skewY(7deg);
        
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }
    
}

.secao-viagens {
    background-color: $cor-cinza-clara-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
    
    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}

.secao-depoimentos {
    position: relative;
    padding: 15rem 0;
    
    @include respond(tab-port) {
        padding: 10rem 0;
    }
    
}

.secao-agendamento {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $cor-primaria-clara, $cor-primaria-escura);

    @include respond(tab-port) {
        padding: 10rem 0;
    }
}

.agendamento {
    background-image: linear-gradient(105deg, rgba($cor-branca, .9) 0%, rgba($cor-branca, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: 100%; /* cover */
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($cor-preta, .3);

    
    @include respond(tab-land) {
        background-image: linear-gradient(105deg, rgba($cor-branca, .9) 0%, rgba($cor-branca, .9) 65%, transparent 65%), url(../img/nat-10.jpg);
        background-size: cover;
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right, rgba($cor-branca, .9) 0%, rgba($cor-branca, .9) 100%, url(../img/nat-10.jpg));
    }

    &__formulario {
        width: 50%;
        padding: 6rem;

        @include respond(tab-land) {
            width: 65%;
        }

        @include respond(tab-port) {
            width: 100%;
        }
    }
    
}




