.secao-sobre {
    background-color: $cor-cinza-clara-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.secao-destaques {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom, rgba($cor-primaria-clara, 0.8), rgba($cor-primaria-escura, 0.8)), url('../img/nat-4.jpg'); /* opacidade 80%, pois uma imagem fica na frente da outra */
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    
    // .secao-destaques > *
    & > * {
        transform: skewY(7deg);
        
    }
    
}

.secao-viagens {
    background-color: $cor-cinza-clara-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
    
}

.secao-depoimentos {
    position: relative;
    padding: 15rem 0;
    
    /* background-color: $cor-cinza-clara-1; */
    
}

.secao-agendamento {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $cor-primaria-clara, $cor-primaria-escura);
}

.agendamento {
    background-image: linear-gradient(rgba($cor-branca, .9), orangered), url(../img/nat-10.jpg);
    background-size: 100%; /* cover */
    border-radius: 4px;
    box-shadow: 0 1.5rem 4rem rgba($cor-preta, .3);

    height: 50rem;
    
 }


