/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$cor-primaria: #55c57a;
$cor-primaria-clara: #7ed56f;
$cor-primaria-escura: #28b485;
$cor-cinza-escura: #777;
$cor-branca: #fff;
$cor-preta: #000;


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;    
}

@font-face {
    font-family: 'Lato', sans-serif;
    src: url('../font/Lato/Lato-Regular.ttf');
}

html {
    font-size: 62.5%;  /* 1 rem = 10px */ /* quando alterado muda tudo,  62.5% = 10/16 */
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $cor-cinza-escura;
    padding: 3rem;
    box-sizing: border-box;    
}

.cabecalho {
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba($cor-primaria-clara, 0.8), rgba($cor-primaria-escura, 0.8)), url('../img/hero.jpg'); /* opacidade 80%, pois uma imagem fica na frente da outra */
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); 
    position: relative;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }
    
    &__logo:hover {  /* tirar depois */
        animation: moverParaEsquerda 1s ease-out;
    }

    &__caixa-texto {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.cabecalho-primario {
    color: $cor-branca;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;


    &--principal {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moverParaDireita;
        animation-duration: 1s;
        /* animation-delay: 1.5s; 
         animation-iteration-count: 3;  vezes */
    
        animation-timing-function: ease-in-out;
        
    }
    
    &--sub {
        display: block; 
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
    
        animation: moverParaEsquerda 1s ease-out; /* name duration timing-function delay iteration-count direction fill-mode */
    }
}



 


@keyframes moverParaDireita {
    0% {
       opacity: 0;
       transform: translateX(-10rem);
    }

    80% {
       transform: translateX(1rem);
    }

    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

@keyframes moverParaEsquerda {
    0% {
       opacity: 0;
       transform: translateX(10rem);
    }
    
    80% {
       transform: translateX(-1rem);
    }

    100% {
       opacity: 1;
       transform: translateX(0);
    }
}

@keyframes moverDoFundo {
    0% {
       opacity: 0;
       transform: translateY(3rem);
    }
    
    100% {
       opacity: 1;
       transform: translate(0);
    }
}

.botao {
    &:link, &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .5s;
        position: relative;
        font-size: 1.6rem;
    }
    
    &--branco {
        background-color: white;
        color: $cor-cinza-escura;

        &::after {
            background-color: $cor-branca;
        }

    }
    

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 10px 20px rgba($cor-preta, 0.5);
    }
     
    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 5px 10px rgba($cor-preta, 0.5);
    }
     
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
     
    
    &:hover::after {
        transform: scaleX(1.4) scaleY(1.2);
        opacity: 0;
    }
    
    &--animado {
        animation: moverDoFundo 1s ease-out 0.75s;
        animation-fill-mode: backwards;
    }

}

